<h2>Meeting Room Information</h2>
<div #data>
    <button (click)="onCreate()" id="create">Add new Room</button>
    <table class="tableRoom">
        <tr>
            <th>Meeting Room number</th>
            <th>Floor Number</th>
            <th>Amenity</th>
            <th>Number of seats</th>
            <th>Distance</th>
        </tr>
        <tr *ngFor="let com of listComments">
            <td attr.class="{{com.roomID}}">{{com.roomID}}</td>
            <td attr.class="{{com.FloorNumber}}">{{com.FloorNumber}}</td>
            <td attr.class="{{com.Amenities}}">{{com.Amenities}}</td>
            <td attr.class="{{com.numParticipants}}">{{com.numParticipants}}</td>
            <td attr.class="{{com.Distance}}">{{com.Distance}}</td>
            <!-- <td></td> -->
            <td><button (click)="delete(com.roomID)">delete</button>&nbsp;<button (click)="edit(com.roomID,com.FloorNumber,com.Amenities,com.numParticipants,com.Distance)">Edit</button></td>
        </tr>
       
    </table>
</div>